on:
  push:
    branches:
      - "*"

jobs:
  setup-docker:
    runs-on: macos-latest
    name: A job to perform a self-test on this Github Action
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Docker on macOS using Colima, Lima-VM, and Homebrew.
        uses: ./ # Uses an action in the root directory
        id: docker
      - name: Get the Docker client version
        run: |
          echo "Docker client version: ${{ steps.docker.outputs.docker-client-version }}"
      - name: Get the Colima version
        run: |
          echo "Colima version: ${{ steps.docker.outputs.colima-version }}"
